################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Test.Web/.vs/Test.Web
/Test.Web/packages
/Test.Web/Test.Web/bin
